node_modules
dist
.angular
coverage/
playwright-report/
test-results/
.svelte-kit/
dist.tar.gz
.nyc_output/
.idea
core-bootstrap/css/
generated
.wireit
vite.config.ts.timestamp-*
verdaccio/storage
blob-report
*.gen.ts