<script lang="ts">
	import sampleBasic from '@agnos-ui/samples/bootstrap/[componentNameLowerCase]/basic';
	import Sample from '$lib/layout/Sample.svelte';
	import Section from '$lib/layout/Section.svelte';
</script>

<Section label="Basic [componentNameLowerCase]" id="basic" level={2}>
	<Sample title="Basic example" sample={sampleBasic} height={190} />
</Section>
<Section label="Accessibility" level={2}>
	<p>
		TODO fill the section.
	</p>
</Section>