<div
	class="overflow-hidden relative w-full cursor-grab active:cursor-grabbing ring-primary has-[.au-carousel-slide:focus-visible]:ring-3"
	[auUse]="directives.root"
>
	@if (state.showNavigationArrows() || state.showNavigationIndicators() || autoplay()) {
		<div class="absolute top-2 right-2 left-2 z-1 flex" [class]="autoplay() ? 'justify-between' : 'justify-center'" [attr.dir]="state.direction()">
			@if (autoplay()) {
				<div class="flex p-1 px-2 cursor-auto bg-base-100 rounded" (pointerdown)="$event.preventDefault()">
					<button
						class="btn btn-xs btn-square"
						[attr.aria-label]="playing() ? 'Pause' : 'Play'"
						(click)="togglePlay()"
						[innerHTML]="playing() ? pauseSvg : playSvg"
					></button>
				</div>
			}
			@if (state.showNavigationArrows() || state.showNavigationIndicators()) {
				<div class="flex p-1 px-2 gap-1 cursor-auto bg-base-100 rounded-xl" [attr.dir]="state.direction()" (pointerdown)="$event.preventDefault()">
					@if (state.showNavigationArrows()) {
						<button
							class="btn btn-circle btn-xs"
							[auUse]="directives.scrollPrev"
							[innerHTML]="state.direction() === 'rtl' ? nextSvg : previousSvg"
						></button>
					}
					@if (state.showNavigationIndicators()) {
						<div class="flex gap-1" role="tablist">
							@for (photo of photos(); track photo.id; let index = $index) {
								<button
									class="btn btn-xs"
									[class.btn-active]="state.selectedScrollSnap() === index"
									[auUse]="[directives.tabIndicator, {index, id: photo.id}]"
								>
									{{ index + 1 }}
								</button>
							}
						</div>
					}
					@if (state.showNavigationArrows()) {
						<button
							class="btn btn-circle btn-xs"
							[auUse]="directives.scrollNext"
							[innerHTML]="state.direction() === 'rtl' ? previousSvg : nextSvg"
						></button>
					}
				</div>
			}
		</div>
	}
	<div
		class="flex container touch-pan-y touch-pinch-zoom"
		aria-atomic="false"
		[attr.aria-live]="autoplay() ? 'off' : 'polite'"
		[attr.dir]="state.direction()"
	>
		@for (photo of photos(); track photo.id; let index = $index) {
			<div class="basis-full shrink-0 grow-0" [auUse]="[directives.slide, {index, id: photo.id}]">
				<ng-container *ngTemplateOutlet="slideTemplate().templateRef; context: photo" />
			</div>
		}
	</div>
</div>
