@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins/breakpoints';

.sample-links {
	column-count: 1;

	@include media-breakpoint-up(sm) {
		column-count: 2;
	}
	@include media-breakpoint-up(md) {
		column-count: 3;
	}
	@include media-breakpoint-up(lg) {
		column-count: 5;
	}
	@include media-breakpoint-up(xl) {
		column-count: 6;
	}
}
