@use 'sass:map';

// to override CSS var of the color palette
$theme-colors-dark: () !default;

// stylelint-disable  scss/dollar-variable-default
$theme-colors-dark: map.set($theme-colors-dark, 'primary', $primary-dark);
$theme-colors-dark: map.set($theme-colors-dark, 'info', $info-dark);

$theme-colors-dark-rgb: map-loop($theme-colors-dark, to-rgb, '$value');
