@import '@agnos-ui/common/variables';

:root {
	// Color palette
	$au-primary: #5a3265;
	$au-primary-light: #a182a7;
	$au-secondary: #d2b000; // to fill icon usage ?
	$au-primary-hover: #4b335b;
	$au-body-text-color: #402b30;
	$au-body-bg-color: #fff;
	$au-background-light: #f3f5fa;
	// --bs-light-bg-subtle ??
	// BS variables override
	// Add of au variables
	--au-body-background-light-color: #{$au-background-light};
	--bs-body-color: #{$au-body-text-color};
	--au-section-border-top-color: var(--bs-body-color);
	--au-section-background-color: var(--au-body-background-light-color);
	--bs-primary: #{$au-primary};
	--au-primary-light: #{$au-primary-light};
	--bs-secondary: #{$au-secondary};
	--au-primary-hover: #{$au-primary-hover};
	--bs-secondary-rgb: #{to-rgb($au-secondary)};
	--bs-primary-rgb: #{to-rgb($au-primary)};
	--au-primary-hover-rgb: #{to-rgb($au-primary-hover)};
	--bs-link-color: var(--bs-primary); // bs to update
	--bs-link-hover-color: var(--au-primary-hover); // bs to update to stronger
	--bs-link-hover-color-rgb: var(--au-primary-hover-rgb); // bs to update to stronger
	--bs-link-color-rgb: var(--bs-primary-rgb);
	--bs-navbar-brand-color: var(--bs-body-color);
	.bg-navbar {
		background-color: var(--au-primary-light);
	}
	.card-title {
		--bs-card-title-color: var(--bs-primary);
	}
	.btn-outline-primary {
		--bs-btn-color: var(--bs-primary);
		--bs-btn-border-color: var(--bs-primary);
		--bs-btn-hover-color: #fff;
		--bs-btn-hover-bg: var(--au-primary-hover);
		--bs-btn-hover-border-color: var(--au-primary-hover);
		--bs-btn-focus-shadow-rgb: 13, 110, 253;
		--bs-btn-active-color: #fff;
		--bs-btn-active-bg: var(--bs-primary);
		--bs-btn-active-border-color: var(--bs-primary);
		--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
		--bs-btn-disabled-color: var(--bs-primary);
		--bs-btn-disabled-bg: transparent;
		--bs-btn-disabled-border-color: var(--bs-primary);
		--bs-gradient: none;
	}
	.btn-primary {
		--bs-btn-color: #fff;
		--bs-btn-bg: var(--bs-primary);
		--bs-btn-border-color: var(--bs-primary);
		--bs-btn-hover-color: #fff;
		--bs-btn-hover-bg: var(--au-primary-hover); // to be changed
		--bs-btn-hover-border-color: var(--au-primary-hover);
		--bs-btn-focus-shadow-rgb: 49, 132, 253; // to be changed
		--bs-btn-active-color: #fff;
		--bs-btn-active-bg: var(--au-primary-hover); // to be changed
		--bs-btn-active-border-color: var(--au-primary-hover); // to be changed
		--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
		--bs-btn-disabled-color: #fff;
		--bs-btn-disabled-bg: var(--bs-primary);
		--bs-btn-disabled-border-color: var(--bs-primary);
	}
	.navbar-dark,
	.navbar[data-bs-theme='dark'] {
		--bs-navbar-color: var(--bs-body-color); // not accessible
		--bs-navbar-hover-color: var(--au-primary-light);
		--bs-navbar-active-color: #000;
		--bs-navbar-brand-color: var(--bs-body-color); // not accessible
		--bs-navbar-brand-hover-color: var(--bs-body-color); // not accessible
		--bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
	}
}

body {
	min-height: 100vh;
	--bs-light-rgb: 237, 238, 247;
}

main {
	display: flex;
	flex-wrap: nowrap;
}

.agnos-ui {
	padding: 0;

	&-logo {
		height: 30px;
	}
}

.hljs-keyword {
	color: #d33948 !important;
}
.hljs-built_in {
	color: #bf5308 !important;
}
.hljs-symbol {
	color: #d33948 !important;
}
.hljs-variable {
	color: #d33948 !important;
}

.demo-sample {
	width: 100%;
}

h1,
.h1 {
	font-size: calc(2.125rem + 0.6vw);
}

h2,
.h2 {
	font-size: calc(1.325rem + 0.6vw);
}

h3,
.h3 {
	font-size: calc(1.3rem + 0.4vw);
}

h5,
.h5 {
	font-size: calc(0.8rem + 0.4vw);
}

header {
	&.title {
		margin-left: calc(var(--bs-gutter-x) * -0.5);
		margin-right: calc(var(--bs-gutter-x) * -0.5);
		position: relative;

		.content-tabset {
			.nav-link {
				border-style: solid;
				border-width: 3px 1px 1px;
				border-radius: 3px 3px 0 0;
			}

			.nav-link:not(.active):hover {
				border-color: transparent;
			}

			.active {
				border-top-color: var(--bs-primary);
			}

			.navigation-dropdown {
				// where is it used ?
				cursor: pointer;

				.nav-link {
					padding-right: 0.3rem;
					line-height: 1em;
					border-color: transparent;
					background: none;
					color: #007bff;
					&:hover {
						color: #0056b3;
					}
				}

				.dropdown-toggle:after {
					display: none;
				}

				.dropdown-menu {
					border-color: #d9d9d9;
				}

				svg {
					width: 22px;
					height: 22px;
				}

				&.show {
					.nav-link {
						color: #0056b3;
					}
				}
			}
		}
	}
}

// What is it ?
.demo-links-link {
	color: var(--bs-body-color);
	text-decoration: none;
	&:hover,
	&:focus {
		color: var(--bs-emphasis-color);
	}
	&.active {
		font-weight: bold;
		color: var(--bs-emphasis-color);
		background-color: #d9e5f1;
	}
}

.svg {
	display: inline-flex;
	align-items: center;

	> svg {
		width: 100%;
		height: 100%;
	}

	&.icon-20 {
		width: 20px;
		height: 20px;
	}
	&.icon-24 {
		width: 24px;
		height: 24px;
	}
}
