body {
	min-height: 100vh;
	--bs-light-rgb: 237, 238, 247;
}

main {
	display: flex;
	flex-wrap: nowrap;
}

.agnos-ui {
	padding: 0;

	&-logo {
		height: 30px;
	}
}

.hljs-keyword {
	color: #d33948 !important;
}
.hljs-built_in {
	color: #bf5308 !important;
}

.demo-sample {
	width: 100%;
}

header {
	&.title {
		margin-left: calc(var(--bs-gutter-x) * -0.5);
		margin-right: calc(var(--bs-gutter-x) * -0.5);
		position: relative;

		.content-tabset {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;

			.nav-link {
				border-style: solid;
				border-width: 3px 1px 1px;
				border-radius: 3px 3px 0 0;
			}

			.nav-link:not(.active):hover {
				border-color: transparent;
			}

			.active {
				border-top-color: #28a745;
			}

			.navigation-dropdown {
				cursor: pointer;

				.nav-link {
					padding-right: 0.3rem;
					line-height: 1em;
					border-color: transparent;
					background: none;
					color: #007bff;
					&:hover {
						color: #0056b3;
					}
				}

				.dropdown-toggle:after {
					display: none;
				}

				.dropdown-menu {
					border-color: #d9d9d9;
				}

				svg {
					width: 22px;
					height: 22px;
				}

				&.show {
					.nav-link {
						color: #0056b3;
					}
				}
			}
		}
	}
}

// .demo-nav-top {
// 	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.33), inset 0 -1px 0 rgba(255, 255, 255, 0.15);
// }

.demo-links {
	// &-link.active {
	// 	font-weight: 600;
	// }
	// &-link.active,
	&-link:hover,
	&-link:focus {
		color: var(--bs-emphasis-color);
		background-color: var(--demo-sidebar-link-bg);
	}
	&-link {
		padding: 0.1875rem 0.5rem;
		// margin-top: .125rem;
		margin-left: 1.125rem;
		color: var(--bs-body-color);
		text-decoration: none;
	}

	&-link.active {
		font-weight: bold;
		color: var(--bs-emphasis-color);
		background-color: #d9e5f1;
	}
}

@media (min-width: 992px) {
	.demo-layout {
		display: grid;
		grid-template-areas: 'sidebar main';
		grid-template-columns: max-content 1fr;
		gap: 1.5rem;
	}

	.demo-sidebar {
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		display: block !important;
		height: calc(100vh - 6rem);
		padding-left: 0.25rem;
		margin-left: -0.25rem;
		overflow-y: auto;
	}
}

.demo-sidebar {
	grid-area: sidebar;
}

@media (min-width: 992px) {
	.demo-main {
		grid-template-areas:
			'intro   toc'
			'content toc';
		grid-template-rows: auto 1fr;
		grid-template-columns: 5fr 1fr;
	}
}
@media (min-width: 768px) {
	.demo-main {
		display: grid;
		grid-template-areas:
			'intro  '
			'toc  '
			'content';
		grid-template-rows: auto auto 1fr;
		gap: inherit;
	}
}

.demo-main {
	grid-area: main;
}

.svg {
	display: inline-flex;
	align-items: center;

	> svg {
		width: 100%;
		height: 100%;
	}

	&.icon-20 {
		width: 20px;
		height: 20px;
	}
	&.icon-24 {
		width: 24px;
		height: 24px;
	}
}
