.demo-nav-top {
	view-transition-name: demo-nav-top;
}
.demo-sidebar {
	view-transition-name: demo-sidebar;
}
.demo-toc {
	view-transition-name: demo-toc;
}
.demo-mobile-menu {
	view-transition-name: demo-mobile-menu;
}
