@import '@agnos-ui/common/variables';

$mobileMargin: 16px;

.menu-item {
	display: block;
	color: var(--bs-dark);
	background-color: var(--bs-body-bg);
	text-decoration: none;
	outline: none;

	&:hover,
	&:focus-visible {
		background-color: var(--bs-secondary);
		border-color: var(--bs-secondary);
		color: var(--bs-primary);
	}

	@include media-breakpoint-down(md) {
		margin-left: -$mobileMargin;
		margin-right: -$mobileMargin;
	}
}

.menu-item-sidenav {
	padding: 0.1rem 0.5rem;
	border: 0px solid var(--bs-body-bg);
	border-width: 2px 0;

	&.active {
		color: var(--bs-primary);
		background-color: #f8eeff;
		border-radius: 5px;
		font-weight: 500;
	}

	@include media-breakpoint-down(md) {
		&:focus {
			border-color: var(--bs-primary-border-subtle);
		}
	}

	@include media-breakpoint-down(md) {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		padding-left: $mobileMargin * 2;
		padding-right: $mobileMargin * 2;
	}
}

.menu-item-toc {
	padding: 0.3rem 0.5rem;
	border: 1px solid var(--bs-secondary);
	border-width: 0 0 0 2px;

	&.active {
		border-color: var(--bs-primary);
		border-left-color: var(--bs-primary);
	}
}

.toc-h2 {
	padding-left: 1rem;
}

.toc-h3 {
	padding-left: 1.5rem;
}

.side-menu {
	flex-basis: 15%;
}
