<div class="container">
	<h1>SSR Test</h1>
	<h2>Accordion</h2>
	<div class="my-3">
		<div auAccordion>
			<div auAccordionItem auHeader="First" auVisible>Content 1</div>
			<div auAccordionItem auHeader="Second">Content 2</div>
			<div auAccordionItem auHeader="Disabled" auDisabled>Content 3</div>
		</div>
	</div>
	<h2>Alert</h2>
	<div class="my-3">
		<au-component auAlert>This is an alert!</au-component>
	</div>
	<h2>Modal</h2>
	<div>
		<au-component auModal>This is a modal!</au-component>
	</div>
	<h2>Pagination</h2>
	<div class="my-3">
		<nav auPagination auCollectionSize="60"></nav>
	</div>
	<h2>Progressbar</h2>
	<div class="my-3">
		<div auProgressbar auValue="20"></div>
	</div>
	<h2>Rating</h2>
	<div class="my-3">
		<div [auRating]></div>
	</div>
	<h2>Select</h2>
	<div class="my-3">
		<div auSelect [auItems]="['AgnosUI']"></div>
	</div>
	<h2>Slider</h2>
	<div class="my-3">
		<div auSlider [auValues]="[50]"></div>
	</div>
	<h2>Toast</h2>
	<div class="my-3">
		<au-component auToast>This is a toast!</au-component>
	</div>
	<h2>Tree</h2>
	<div class="my-3">
		<au-component auTree [auNodes]="nodes" />
	</div>
</div>
