<script lang="ts">
	import {callWidgetFactory} from '../../config';
	import type {[componentName]Props} from './[componentNameLowerCase].gen';
	import {create[componentName]} from './[componentNameLowerCase].gen';

	let props: Partial<[componentName]Props> = $props();

	const widget = callWidgetFactory(create[componentName], {
		props
	});
	const {state} = widget;
</script>

