//import-start
import type {[componentName]Props} from './components/[componentNameLowerCase]/[componentNameLowerCase]';
//import-end

//content-start
/**
* [componentNameLowerCase] widget config
*/
[componentNameLowerCase]: [componentName]Props;
//content-end