body {
	min-height: 100vh;
}

main {
	display: flex;
	flex-wrap: nowrap;
}

.agnos-ui {
	padding: 0;

	&-logo {
		height: 30px;
	}
}

[data-bs-theme='dark'] {
	.btn-outline-primary {
		--bs-btn-color: #3f8bfd;
	}
	.btn-outline-secondary {
		--bs-btn-color: #848d94;
	}
	.btn-outline-danger {
		--bs-btn-color: #e36370;
	}
	.btn-outline-success {
		--bs-btn-color: #1d9f63;
	}
}
