body {
	min-height: 100vh;
}

main {
	display: flex;
	flex-wrap: nowrap;
}

.agnos-ui {
	padding: 0;

	&-logo {
		height: 30px;
	}
}

@media (prefers-reduced-motion) {
	::view-transition-group(*),
	::view-transition-old(*),
	::view-transition-new(*) {
		animation: none !important;
	}
}

.demo-nav-top {
	view-transition-name: demo-nav-top;
}
.demo-sidebar {
	view-transition-name: demo-sidebar;
}
.demo-toc {
	view-transition-name: demo-toc;
}
header {
	view-transition-name: header;
}
