//import-start
import {[componentName]} from '@agnos-ui/svelte-bootstrap/components/[componentNameLowerCase]';
//import-end

//content-start
<h2>[componentName]</h2>
	<div class="my-3">
		<[componentName] />
	</div>
//content-end