name: build
on:
  workflow_call:
    inputs:
      version:
        description: 'Version number (x.y.z) to set before executing the build'
        type: string
        default: ''
      docPublish:
        description: 'Whether to publish the documentation on gh-pages'
        type: boolean
        default: false
      docPath:
        description: 'If version is empty, path in which the documentation on gh-pages should be published.'
        type: string
        default: ''
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          cache: 'npm'
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
      - run: npx playwright install --with-deps --only-shell
      - run: npm run syncpack:check
      - run: |
          git config --global user.name github-actions
          git config --global user.email github-actions@github.com
      - if: inputs.version != ''
        run: |
          npm run -w demo update:stackblitzPkgs
          node scripts/setVersion.js "${{ inputs.version }}"
          npm run syncpack:check
      - run: npm run build:ci
        env:
          GTAG: 'true'
          PRELOAD_VERSIONS: 'true'
      - run: npm run check
      - run: npm run format:check
      - run: npm run lint -- --quiet
      - name: check stackblitz angular bootstrap lockfile
        run: npm ci --dry-run
        working-directory: demo/src/lib/stackblitz/angular-bootstrap
      - name: check stackblitz angular daisyui lockfile
        run: npm ci --dry-run
        working-directory: demo/src/lib/stackblitz/angular-daisyui
      - name: check stackblitz react bootstrap lockfile
        run: npm ci --dry-run
        working-directory: demo/src/lib/stackblitz/react-bootstrap
      - name: check stackblitz react daisyui lockfile
        run: npm ci --dry-run
        working-directory: demo/src/lib/stackblitz/react-daisyui
      - name: check stackblitz svelte bootstrap lockfile
        run: npm ci --dry-run
        working-directory: demo/src/lib/stackblitz/svelte-bootstrap
      - name: check stackblitz svelte daisyui lockfile
        run: npm ci --dry-run
        working-directory: demo/src/lib/stackblitz/svelte-daisyui
      - run: npm run test:coverage
      - uses: codecov/codecov-action@v5
        with:
          files: core/coverage/lcov.info,core-bootstrap/coverage/lcov.info,angular/headless/coverage/lcov.info,svelte/preprocess/coverage/lcov.info
          flags: unit
          disable_search: true
          use_oidc: ${{ !(github.event_name == 'pull_request' && github.event.pull_request.head.repo.fork) }}
      - run: |
          export PUBLISH_TAG="$(node ./scripts/publishTag.js "${{ inputs.version }}")"
          npm run -w verdaccio verdaccio-publish -- --tag "$PUBLISH_TAG"
      - if: inputs.version != ''
        run: |
          export PUBLISH_TAG="$(node ./scripts/publishTag.js "${{ inputs.version }}")"
          node ./scripts/npmPublish.js --provenance --tag "$PUBLISH_TAG"
          npm run -w demo update:stackblitzPkgs ${{ inputs.version }}
          GTAG=true PRELOAD_VERSIONS=true npm run build -w demo
          git commit -a -m v${{ inputs.version }}
          git tag v${{ inputs.version }}
          git show HEAD
          if [[ "$PUBLISH_TAG" == "next" ]]; then
            git push origin v${{ inputs.version }}
          else
            export RELEASE_BRANCH=release/$(node scripts/versionDocFolder.js ${{ inputs.version }})
            git checkout -B $RELEASE_BRANCH
            git push origin v${{ inputs.version }} $RELEASE_BRANCH
          fi
      - if: inputs.docPublish && (inputs.version != '' || inputs.docPath != '')
        uses: actions/checkout@v6
        with:
          ref: gh-pages
          path: gh-pages
      - if: inputs.docPublish && (inputs.version != '' || inputs.docPath != '')
        env:
          VERSION: ${{ inputs.version }}
        working-directory: gh-pages
        run: |
          if [ -n "$VERSION" ]; then
            export DOC_PATH="v$(node ../scripts/versionDocFolder.js "$VERSION")"
          else
            export DOC_PATH="$(node ../scripts/versionReleaseDocFolder.js "${{ inputs.docPath }}")"
          fi
          rm -rf "$DOC_PATH"
          cp -a ../demo/dist "$DOC_PATH"
          node ../scripts/updateVersionsList.js
          git add .
          git commit --allow-empty -a -m "$DOC_PATH from ${{ github.sha }}"
          git push origin gh-pages
