name: e2e-tests
on:
  workflow_call:
jobs:
  e2e-tests:
    runs-on: ubuntu-latest
    name: Test (${{ matrix.shard }}/${{ strategy.job-total}})
    strategy:
      matrix:
        shard: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          cache: 'npm'
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
      - run: npx playwright install --with-deps --only-shell
      - run: npm run -w demo update:stackblitzPkgs
      - run: npm run e2e:coverage -- --preview --shard=${{ matrix.shard }}/${{ strategy.job-total}}
      - id: check_lcov
        run: |
          if test -f "e2e/coverage/lcov.info"; then
            mkdir -p coverage/e2e-${{ matrix.shard }}
            mv e2e/coverage/lcov.info coverage/e2e-${{ matrix.shard }}/lcov.info
          fi
      - uses: actions/upload-artifact@v5
        with:
          name: e2e-test-${{ matrix.shard }}
          path: |
            coverage/
            blob-report/
          retention-days: 1
  merge-reports:
    needs: [e2e-tests]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v6
        with:
          pattern: e2e-test-*
          merge-multiple: true
      - uses: codecov/codecov-action@v5
        with:
          directory: coverage
          flags: e2e
          use_oidc: ${{ !(github.event_name == 'pull_request' && github.event.pull_request.head.repo.fork) }}
      - uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          cache: 'npm'
          registry-url: 'https://registry.npmjs.org'
      - run: npx playwright merge-reports --reporter html ./blob-report
      - uses: actions/upload-artifact@v5
        with:
          name: e2e-playwright-report
          path: playwright-report
          retention-days: 7
